// out: style.css, sourcemap: true, nib: true

// Variables

@font-face {
  font-family: 'Big Noodle';
  src: url('../fonts/big-noodle.woff') format('woff');
}
@font-face {
  font-family: 'Big Noodle Oblique';
  src: url('../fonts/big-noodle-oblique.woff') format('woff');
}

fullSize() {
  width: 100%;
  height: 100%;
}

absolute(top, right, bottom, left) {
  position: absolute;
  top: top;
  right: right;
  bottom: bottom;
  left: left;
}

centerElement() {
  absolute(50%, initial, initial, 50%);
  transform: translate(-50%, -50%);
}

::selection {
  color: #fff;
  background-color: #000;
}

html, body {
  fullSize();
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

* {
  // cursor: url('../assets/cursor.svg'), auto;
}

* {
  user-select: none;
  cursor: default;
}

.ui {
  cursor: pointer;
}

body {
  font-family: 'Big Noodle Oblique';
  font-size: 2.4rem;
  letter-spacing: .1rem;
  overflow: hidden;
}

h1 {
  font-size: 9.6rem;
}

h2, h3 {
  font-size: 6.4rem;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

#settingsButton {
  absolute(2rem, initial, initial, 2rem);
}

#followButton img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}

#logo {
  centerElement();
  z-index: -1;
}

#socialLinks, #quickFavoriteButton {
  opacity: 0;

  &.active {
    opacity: 1;
  }
}
#socialLinks {
  z-index: 1;
  display: flex;
  absolute(2rem, 2rem, initial, initial);
  transition: 1s opacity;
  transition-delay: .5s;

  img {
    display: block;
  }
}

#socialLinks span:hover .tooltip, a:hover .tooltip {
  opacity: 1;
  right: 3.4rem;
  filter: blur(0);
}

#tweetButton {
  display: flex;
  position: relative;
  color: rgba(0,0,0,.9);
  margin: 0 2rem;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 2.4rem;
  top: 0;
  overflow: visible;
  font-size: 1.2rem;
  text-align: center;
  width: 10rem;
  line-height: 2.4rem;
  background-color: black;
  color: white;
  border-radius: .4rem;
  padding: 0 1rem;
  filter: blur(.25rem);
  transition: .25s all ease-in-out;
  z-index: 1;
}

#settingsPage {
  top: -100vh;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  fullSize();
  background-color: #fff;
  transition: .5s all;
  visibility: hidden;
  pointer-events: none;

  &.active {
    top: 0;
    visibility: visible;
    pointer-events: auto;
  }

  .settingsContainer {
    width: 50%;
    margin: auto;

    h2 {
      margin: 4rem 0 2rem;
    }
  }

  span {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 2rem;
    background-color: rgba(0,0,0,.1);
    border-radius: .2rem;
    &:first-child {
      width: 85%;
    }
    &:last-child {
      width: 15%;
    }
  }
}

.setting {
  display: flex;
  margin: auto;
  height: 4rem;
  line-height: 4rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.toggle, .keybind {
  margin-left: 2rem;
}

.toggle {
  background-color: red;

  &.active {
    background-color: green;
  }
}

.keybind {
  text-align: center;
}

// #particles-js {
//   position: absolute;
//   fullSize();
//   filter: blur(3px);
//   mix-blend-mode: multiply;
//   transform: scale(1.25) skew(-25deg);
//   pointer-events: none;
//   z-index: -1;
// }

// Remove comments and box shadow for native Overwatch style
#contextMenu {
  display: flex;
  cursor: pointer;
  position: absolute;
  width: 22rem;
  height: 1rem;
  z-index: 2;
  color: #fff;
  font-size: 1.8rem;
  border-radius: .4rem;
  // -webkit-backdrop-filter: blur(4px);
  // background-color: rgba(0,0,0,.25);
  visibility: hidden;
  opacity: 0;
  // padding: 1rem;
  box-shadow: 0 0 4rem rgba(0,0,0,.5);

  #addFavoriteButton {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-align: center;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    height: 4rem;
    transition: .25s height;


    & #addFavoriteButton {
      opacity: 1;
      transition: .25s opacity;
    }
  }
}

.corner {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.corner:before, .corner:after {
  position: absolute;
  content: "";
  width: .75rem;
  height: .75rem;
  z-index: 1;
}

.corner.top:before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-top-left-radius: .4rem;
}
.corner.top:after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-right-radius: .4rem;
}
.corner.bottom:before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom-left-radius: .4rem;
}
.corner.bottom:after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom-right-radius: .4rem;
}

.menuInner {
  position: relative;
  margin: auto;
  fullSize();
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
}

#welcomeText {
  centerElement();
  z-index: 1;
  width: 90%;
  text-align: center;
  transition: 2s all;

  &.hide {
    pointer-events: none;
    opacity: 0;
    filter: blur(1rem);
  }

  span {
    opacity: .25;
  }
}

.blur {
  filter: blur(1rem);
  transition: .25s all;
}

#app {
  position: absolute;
  top: 0;
  fullSize();
  transition: .5s all;
  &.active {
    top: 100vh;
  }
}

.persistent {
  z-index: 1;
}

#heroPage {
  top: 0;
  position: absolute;
  fullSize();
  transition: .5s all;
}

#heroPage:after {
  pointer-events: none;
  content: "";
  position: absolute;
  fullSize();
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  z-index: -2;
}

#image {
  absolute(0, 100%, initial, 0);
  fullSize();
  background-size: contain;
  background-color: #fff;
  background-position: right;
  background-repeat: no-repeat;
  transition: 1s opacity;
  opacity: 0;
  z-index: -1;

  &.animate {
    opacity: .5;
  }
}

#tint {
  absolute(0, initial, initial, 0);
  fullSize();
  opacity: 0;
  transition: 1s all;

  &.animate {
    opacity: .25;
  }
}

#heroFortune {
  user-select: auto;
  absolute(45%, initial, initial,  50%);
  transform: translate(-50%, -50%);
  width: 90%;
  color: rgba(0,0,0,.9);
  text-align: center;
  filter: blur(1rem);
  opacity: 0;
  transition: 1s all;

  &.animate {
    opacity: 1;
    top: 50%;
    filter: blur(0);
  }
}
#heroName {
  absolute(initial, 6rem, 4rem, initial);
  transform: translateY(100%);
  color: rgba(0,0,0,.9);
  filter: blur(1rem);
  opacity: 0;
  transition: 1s all;
  transition-delay: .1s;

  &.animate {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

#quickFavoriteButton {
  background-color: red;
  width: 2rem;
  height: 2rem;
  absolute(initial, 2rem, 4rem, initial);
}

#mysteryHeroButton, .key, #heroList, #contextMenu {
  -webkit-backdrop-filter: blur(.4rem);
}

#mysteryHeroButton:hover, .hint:hover .key:not(.active) {
  border-color: rgba(0,0,0,.5);
}

#mysteryHeroButton {
  cursor: pointer;
  absolute(4rem, initial, initial, 50%);
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,.25);
  color: #000;
  font-size: 2rem;
  transition: .25s all;
  box-sizing: border-box;
  &.animate {
    animation: 2s mysteryHoverGlow;
  }
}

@keyframes orbPulse {
  50% {
    box-shadow: 0 0 1rem #000;
  }
}

#mysteryKey {
  pointer-events: none;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50%, 50%);
  background-color: #000;
  color: #fff;

  &.animate {
    animation: orbPulse 2s;
  }
}

#heroList {
  display: flex;
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 100vh;
  font-size: 3.6rem;
  background-color: rgba(255,255,255,.95);
  box-sizing: border-box;
  box-shadow: 0 0 4rem rgba(0,0,0,.1);
  absolute(0, initial, initial, -20rem);
  list-style: none;
  flex-direction: column;
  overflow: auto;
  transition: .5s left;
  z-index: 1;

  &.open {
    left: 0;
  }

  li {
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    transition: .25s all;

    &:hover, &.active {
      padding-left: 2rem;
      background-color: #000;
      color: #fff;
    }
  }
}

.hint {
  cursor: pointer;
  display: flex;
  align-items: center;
  absolute(initial, initial, 4rem, 50%);
  transform: translateX(-50%);

  &.right {
    visibility: hidden;
    left: initial;
    right: 4rem;
    transform: none;

    &.active {
      visibility: visible;
    }
  }
}

.key {
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 0 1rem;
  border: 2px solid rgba(0,0,0,.25);
  border-radius: .4rem;
  transition: .5s all;
  pointer-events: none;

  &.wide {
    padding: 0 1rem;
  }

  &.active {
    border-color: #000;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 6.4rem;
  }

  h2, h3 {
    font-size: 3.6rem;
  }

  #mysteryHeroButton {
    top: 2rem;
  }

  .hint {
    bottom: 2rem;
  }

  #heroName {
    right: 4rem;
    bottom: 2rem;
  }
}

@media (max-width: 768px) {
  #image, #mysteryKey, .hint {
    display: none;
  }
}

span img, a img {
  pointer-events: none;
}

#toggleSoundButton {
  position: relative;
  cursor: pointer;
  transform-origin: center;

  img {
    transform: rotateZ(45deg);
    transition: .25s transform;
  }

  &.animate {
    img {
      transform: rotateZ(-45deg);
    }
  }
}

body {
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%) rotate(-45deg) scale(3);

  path {
    transition: .25s fill;
    // stroke: rgba(255,255,255,.25);
    stroke: transparent;

    &:hover {
      fill: rgba(19,134,191,.5);
    }

    &.active {
      cursor: pointer;
    }
  }
}

.divider {
    z-index: 5;
    pointer-events: none;
    position: absolute;
    width: 25%;
    height: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    &.active span {
      height: 50vw;
    }
}

.divider span {
    width: 2px;
    height: 40vw;
    position: absolute;
    background-color: rgba(255,255,255,.5);
    left: 50%;
    top: 50%;
    transition: .25s height;

    &:first-of-type {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:last-of-type {
      transform: translate(-50%,-50%) rotate(45deg);

    }
}

#favoriteWheel {
  // cursor: pointer;
  position: absolute;
  display: flex;
  right: 0;
  fullSize();
  background-color: rgba(0,0,0,.25);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .25s all;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .hint {
    pointer-events: none;
    // color: #fff;
  }
}

#chosenHero {
  position: absolute;
  top: 4rem;
  left: 50%;
  font-size: 4.8rem;
  color: #fff;
  transform: translateX(-50%);
  z-index: 5;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.favorite {
  // &:not(.active) {
  //   pointer-events: none;
  // }
}

.favorite:hover path {
  fill: blue;
}

#favoriteTextContainer {
  z-index: 4;
  pointer-events: none;
  fullSize();
  position: absolute;

  .favoriteText {
    position: absolute;
    color: rgba(255,255,255,.5);
    padding: 1rem 2rem;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

    &.active {
      color: rgba(255,255,255,.75);
      border: 2px solid rgba(255,255,255,.75);
      border-radius: .4rem;
      background-color: rgba(0,0,0,.25);
    }
  }

  #favoriteText0 {
    margin-top: -10vw;
  }
  #favoriteText1 {
    margin-left: -10vw;
  }
  #favoriteText2 {
    margin-top: 10vw;
  }
  #favoriteText3 {
    margin-left: 10vw;
  }
}
