@font-face {
  font-family: 'Big Noodle';
  src: url("../fonts/big-noodle.woff") format('woff');
}
@font-face {
  font-family: 'Big Noodle Oblique';
  src: url("../fonts/big-noodle-oblique.woff") format('woff');
}
::selection {
  color: #fff;
  background-color: #000;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
* {
  user-select: none;
  cursor: default;
}
.ui {
  cursor: pointer;
}
body {
  font-family: 'Big Noodle Oblique';
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
}
h1 {
  font-size: 9.6rem;
}
h2,
h3 {
  font-size: 6.4rem;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
#settingsButton {
  position: absolute;
  top: 2rem;
  right: initial;
  bottom: initial;
  left: 2rem;
}
#followButton img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
#logo {
  position: absolute;
  top: 50%;
  right: initial;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#socialLinks,
#quickFavoriteButton {
  opacity: 0;
}
#socialLinks.active,
#quickFavoriteButton.active {
  opacity: 1;
}
#socialLinks {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: initial;
  left: initial;
  transition: 1s opacity;
  transition-delay: 0.5s;
}
#socialLinks #quickFavoriteButton,
#socialLinks #toggleSoundButton,
#socialLinks #tweetButton {
  margin-right: 2rem;
}
#socialLinks img {
  display: block;
}
#socialLinks span:hover .tooltip,
a:hover .tooltip {
  opacity: 1;
  right: 3.4rem;
  filter: blur(0);
}
#tweetButton {
  display: flex;
  position: relative;
  color: rgba(0,0,0,0.9);
}
.tooltip {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 2.4rem;
  top: 0;
  overflow: visible;
  font-size: 1.2rem;
  text-align: center;
  width: 10rem;
  line-height: 2.4rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.4rem;
  padding: 0 1rem;
  filter: blur(0.25rem);
  transition: 0.25s all ease-in-out;
  z-index: 1;
}
#settingsPage {
  top: -100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.5s all;
  visibility: hidden;
  pointer-events: none;
}
#settingsPage.active {
  top: 0;
  visibility: visible;
  pointer-events: auto;
}
#settingsPage .settingsContainer {
  width: 50%;
  margin: auto;
}
#settingsPage .settingsContainer h2 {
  margin: 4rem 0 2rem;
}
#settingsPage span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0 2rem;
  border-radius: 0.2rem;
}
#settingsPage span:first-child {
  width: 85%;
}
#settingsPage span:last-child {
  width: 15%;
}
#settingsPage span:not(.toggle) {
  background-color: rgba(0,0,0,0.1);
}
.setting {
  display: flex;
  margin: auto;
  height: 4rem;
  line-height: 4rem;
}
.setting:not(:last-child) {
  margin-bottom: 2rem;
}
.toggle,
.keybind {
  margin-left: 2rem;
}
.toggle {
  text-align: center;
  background-color: #f00;
}
.toggle.active {
  background-color: #008000;
}
.keybind {
  text-align: center;
}
#contextMenu {
  display: flex;
  cursor: pointer;
  position: absolute;
  width: 22rem;
  height: 1rem;
  z-index: 2;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 4rem rgba(0,0,0,0.5);
}
#contextMenu #addFavoriteButton {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 4rem;
  text-align: center;
  opacity: 0;
}
#contextMenu.active {
  visibility: visible;
  opacity: 1;
  height: 4rem;
  transition: 0.25s height;
}
#contextMenu.active #addFavoriteButton {
  opacity: 1;
  transition: 0.25s opacity;
}
.corner {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.corner:before,
.corner:after {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  z-index: 1;
}
.corner.top:before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-top-left-radius: 0.4rem;
}
.corner.top:after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-right-radius: 0.4rem;
}
.corner.bottom:before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom-left-radius: 0.4rem;
}
.corner.bottom:after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom-right-radius: 0.4rem;
}
.menuInner {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
}
#welcomeText {
  position: absolute;
  top: 50%;
  right: initial;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  text-align: center;
  transition: 2s all;
}
#welcomeText.hide {
  pointer-events: none;
  opacity: 0;
  filter: blur(1rem);
}
#welcomeText span {
  opacity: 0.25;
}
.blur {
  filter: blur(1rem);
  transition: 0.25s all;
}
#app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
#app.active {
  top: 100vh;
}
.persistent {
  z-index: 1;
}
#heroPage {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
#heroPage:after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  z-index: -2;
}
#image {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: initial;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-color: #fff;
  background-position: right;
  background-repeat: no-repeat;
  transition: 1s opacity;
  opacity: 0;
  z-index: -1;
}
#image.animate {
  opacity: 0.5;
}
#tint {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}
#tint.animate {
  opacity: 0.25;
}
#heroFortune {
  cursor: text;
  user-select: auto;
  position: absolute;
  top: 45%;
  right: initial;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: rgba(0,0,0,0.9);
  text-align: center;
  filter: blur(1rem);
  opacity: 0;
  transition: 1s all;
}
#heroFortune.animate {
  opacity: 1;
  top: 50%;
  filter: blur(0);
}
#heroName {
  position: absolute;
  top: initial;
  right: 6rem;
  bottom: 4rem;
  left: initial;
  transform: translateY(100%);
  color: rgba(0,0,0,0.9);
  filter: blur(1rem);
  opacity: 0;
  transition: 1s all;
  transition-delay: 0.1s;
}
#heroName.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
#quickFavoriteButton {
  position: relative;
  width: 22px;
  height: 23px;
}
#mysteryHeroButton,
.key,
#heroList,
#contextMenu {
  -webkit-backdrop-filter: blur(0.4rem);
}
#mysteryHeroButton:hover,
.hint:hover .key:not(.active) {
  border-color: rgba(0,0,0,0.5);
}
#mysteryHeroButton {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: initial;
  bottom: initial;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.25);
  color: #000;
  font-size: 2rem;
  transition: 0.25s all;
  box-sizing: border-box;
}
#mysteryHeroButton.animate {
  animation: 2s mysteryHoverGlow;
}
#mysteryKey {
  pointer-events: none;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50%, 50%);
  background-color: #000;
  color: #fff;
}
#mysteryKey.animate {
  animation: orbPulse 2s;
}
#heroList {
  display: flex;
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 100vh;
  font-size: 3.6rem;
  background-color: rgba(255,255,255,0.95);
  box-sizing: border-box;
  box-shadow: 0 0 4rem rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: -20rem;
  list-style: none;
  flex-direction: column;
  overflow: auto;
  transition: 0.5s left;
  z-index: 1;
}
#heroList.open {
  left: 0;
}
#heroList li {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  transition: 0.25s all;
}
#heroList li:hover,
#heroList li.active {
  padding-left: 2rem;
  background-color: #000;
  color: #fff;
}
.hint {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: initial;
  right: initial;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.hint.right {
  visibility: hidden;
  left: initial;
  right: 4rem;
  transform: none;
}
.hint.right.active {
  visibility: visible;
}
.key {
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 0 1rem;
  border: 2px solid rgba(0,0,0,0.25);
  border-radius: 0.4rem;
  transition: 0.5s all;
  pointer-events: none;
}
.key.wide {
  padding: 0 1rem;
}
.key.active {
  border-color: #000;
}
@media (max-width: 1440px) {
  h1 {
    font-size: 6.4rem;
  }
  h2,
  h3 {
    font-size: 3.6rem;
  }
  #mysteryHeroButton {
    top: 2rem;
  }
  .hint {
    bottom: 2rem;
  }
  #heroName {
    right: 4rem;
    bottom: 2rem;
  }
}
@media (max-width: 768px) {
  #image,
  #mysteryKey,
  .hint {
    display: none;
  }
}
span img,
a img {
  pointer-events: none;
}
#toggleSoundButton {
  position: relative;
  cursor: pointer;
  transform-origin: center;
}
#toggleSoundButton img {
  transform: rotateZ(45deg);
  transition: 0.25s transform;
}
#toggleSoundButton.animate img {
  transform: rotateZ(-45deg);
}
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%) rotate(-45deg) scale(3);
}
svg path {
  transition: 0.25s fill;
  stroke: transparent;
}
svg path:hover {
  fill: rgba(19,134,191,0.5);
}
svg path.active {
  cursor: pointer;
}
.divider {
  z-index: 5;
  pointer-events: none;
  position: absolute;
  width: 25%;
  height: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.divider.active span {
  height: 50vw;
}
.divider span {
  width: 2px;
  height: 40vw;
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  left: 50%;
  top: 50%;
  transition: 0.25s height;
}
.divider span:first-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.divider span:last-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}
#favoriteWheel {
  position: absolute;
  display: flex;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.25s all;
}
#favoriteWheel.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#favoriteWheel .hint {
  pointer-events: none;
}
#chosenHero {
  position: absolute;
  top: 4rem;
  left: 50%;
  font-size: 4.8rem;
  color: #fff;
  transform: translateX(-50%);
  z-index: 5;
  visibility: hidden;
}
#chosenHero.active {
  visibility: visible;
}
.favorite:hover path {
  fill: #00f;
}
#favoriteTextContainer {
  z-index: 4;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
#favoriteTextContainer .favoriteText {
  position: absolute;
  color: rgba(255,255,255,0.5);
  padding: 1rem 2rem;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#favoriteTextContainer .favoriteText.active {
  color: rgba(255,255,255,0.75);
  border: 2px solid rgba(255,255,255,0.75);
  border-radius: 0.4rem;
  background-color: rgba(0,0,0,0.25);
}
#favoriteTextContainer #favoriteText0 {
  margin-top: -10vw;
}
#favoriteTextContainer #favoriteText1 {
  margin-left: -10vw;
}
#favoriteTextContainer #favoriteText2 {
  margin-top: 10vw;
}
#favoriteTextContainer #favoriteText3 {
  margin-left: 10vw;
}
@-moz-keyframes orbPulse {
  50% {
    box-shadow: 0 0 1rem #000;
  }
}
@-webkit-keyframes orbPulse {
  50% {
    box-shadow: 0 0 1rem #000;
  }
}
@-o-keyframes orbPulse {
  50% {
    box-shadow: 0 0 1rem #000;
  }
}
@keyframes orbPulse {
  50% {
    box-shadow: 0 0 1rem #000;
  }
}
/*# sourceMappingURL=style.css.map */